html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#brand-logo {
  width: 50px;
  height: auto;
}

.brand-color {
  background-color: #f4d532;
}

.border {
  border-color: solid black;
}

.font-luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.custom-margin {
  margin-top: 230px;
}

.custom-container {
  max-width: 700px;
  margin-left: 70px;
}

.header-border {
  border-bottom: 0.5px solid #5d5a5a;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

footer {
  background-color: #000000;
  color: #ffffff;
}
